<div
  style="text-align: center"
  class="container"
  [style.width.px]="width"
  [style.height.px]="height"
>
  <button (click)="previousRestaurant()" class="nav-button">&lt;</button>
  <!-- <div *ngFor="let restaurant of filteredRestaurantsList"> -->
  <div class="content">
    <div class="name">{{ selectedRestaurant?.name }}</div>
    <div [innerHTML]="selectedRestaurant?.photos[0]?.html_attributions"></div>
  </div>
  <img
    [src]="photoUrl(selectedRestaurant?.photos[0]?.photo_reference)"
    [alt]="selectedRestaurant?.name"
    class="photo"
    [style.width.px]="width"
    [style.height.px]="height"
  />
  <!-- </div> -->
  <button (click)="nextRestaurant()" class="nav-button">&gt;</button>
</div>

<router-outlet></router-outlet>
