<div class="app-container">
  <app-header [title]="title" (toggle)="snav.toggle()"></app-header>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #snav
      [mode]="'over'"
      [fixedInViewport]="true"
      fixedTopGap="56"
    >
      data
    </mat-sidenav>

    <mat-sidenav-content>
      <app-restaurant-info
        [selectedRestaurant]="selectedRestaurant"
        (prevRestaurant)="previousRestaurant()"
        (nxtRestaurant)="nextRestaurant()"
        (bottomSheet)="openBottomSheet()"
      ></app-restaurant-info>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<router-outlet></router-outlet>
