.review-list {
  display: flex;
  flex-direction: column;
}
.review-header {
  display: flex;
  align-items: center;
}
.profile-pic {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.review-stats {
  height: 35px;
  width: 100%;
}
.author {
  display: flex;
  justify-content: space-between;
}
